{
    "user_agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Safari/537.36",
    "referer": "https://www.douyin.com/",
    "cookie": "这里粘贴你的抖音 Cookie",
    "collects_id": "这里粘贴你的收藏夹 ID"
}
